---
import SceneLayout from '#layouts/SceneLayout.astro';
import Card, { CardNS } from '#components/Card.astro';
import Illustration from '#components/Illustration.astro';


const experiences = [
	{
		from: 'Jan 2022',
		to: 'Present',
		name: 'SAADÉ CREATIVE SOLUTIONS'
	},
	{
		from: 'Jul 2021',
		to: 'Nov 2022',
		name: 'SNAPP MARKET'
	},
	{
		from: 'Apr 2019',
		to: 'Jul 2021',
		name: 'FOUR MIND ADVERTISING AGENCY'
	},
	{
		from: 'Jun 2017',
		to: 'Dec 2018',
		name: 'SIEMENS'
	},
	{
		from: 'Apr 2015',
		to: 'Nov 2016',
		name: 'SONZ GMBH'
	}
];
---

<SceneLayout
	title="Experiences"
	class:list={['/op:0']}
	content-class="/h:full"
	data-name="experienceScene"
>
	<div class:list={['/flex:row/y:center', '/gap:8']}>
		<Card
			roundness={CardNS.Roundness.FULL}
			spacing={CardNS.Spacing.MD}
			circular={CardNS.Circular.FULL}
			class:list={['/w:34', '/h:70']}
			content-class:list={['/w:full', '/h:full', '/flex:column']}
			data-name="titleCard"
		>
			<div class:list={['/type:mono-subheader-bold', '/w:full']}>
				<span data-name="titleCardLabelTop">My Work Experiences</span>
			</div>
			<div class:list={['titleCardLines', '/pos:relative']}>
				<div class:list={['titleCardLine', 'titleCardLineLeft']} data-name="titleCardLineLeft" />
				<div class:list={['/pos:relative', '/w:full', '/h:full', '/flex:row/x:center/y:center']}>
					<Illustration name="tree" class="tree" data-name="titleCardTree" />
				</div>
				<div class:list={['titleCardLine', 'titleCardLineRight']} data-name="titleCardLineRight" />
			</div>
			<div class:list={['/type:mono-subheader-bold', '/w:full']}>
				<span data-name="titleCardLabelBottom">That made me who I am</span>
			</div>
		</Card>

		<article data-name="experiencesList">
			<ol class:list={['/flex:column', '/gap:4']}>
				{experiences.map((experience) => (
					<li class:list={['/flex:column', '/gap:0.5']}>
						<div class:list={['/flex:row', '/gap:1', '/type:mono-body-medium']}>
							<span>{experience.from}</span>
							-
							<span>{experience.to}</span>
						</div>
						<span class:list={['/type:sans-big-body-bold']}>{experience.name}</span>
					</li>
				))}
			</ol>
		</article>
	</div>
</SceneLayout>

<script>
import CircleType from 'circletype';
import { inView, timeline, spring, stagger } from 'motion';


const scene = '[data-name=experienceScene]';
const titleCard = `${scene} [data-name=titleCard]`;
const titleCardLabelTop = `${scene} [data-name=titleCardLabelTop]`;
const titleCardLabelTopCharacters = `${scene} [data-name=titleCardLabelTop] > div > span`;
const titleCardLabelBottom = `${scene} [data-name=titleCardLabelBottom]`;
const titleCardLabelBottomCharacters = `${scene} [data-name=titleCardLabelBottom] > div > span`;
const titleCardLineLeft = `${scene} [data-name=titleCardLineLeft]`;
const titleCardLineRight = `${scene} [data-name=titleCardLineRight]`;
const titleCardTree = `${scene} [data-name=titleCardTree]`;
const experiencesList = `${scene} [data-name=experiencesList] > ol > li`;

new CircleType(document.querySelector(titleCardLabelTop))
	.dir(1)
	.radius(122);
new CircleType(document.querySelector(titleCardLabelBottom))
	.dir(-1)
	.radius(122);

inView(titleCard, () => {
	timeline([
		[scene, { opacity: [0, 1] }, { at: 0, duration: 0.1 }],

		[titleCard, { opacity: [0, 1], scale: [0.5, 1], y: [200, 0], x: [0, 200], rotate: [-30, 0] }, { at: 0, duration: 1, easing: spring({ damping: 15 }) }],

		[titleCardLabelTopCharacters, { opacity: [0, 1] }, { at: 0.5, duration: 1, easing: 'ease-out', delay: stagger(0.05) }],
		[titleCardLabelBottomCharacters, { opacity: [0, 1] }, { at: 0.5, duration: 1, easing: 'ease-out', delay: stagger(0.05) }],

		[titleCardLineLeft, { scaleY: [0, 1] }, { at: 1.5, duration: 1, easing: 'ease-out' }],
		[titleCardLineRight, { scaleY: [0, 1] }, { at: 1.5, duration: 1, easing: 'ease-out' }],

		[titleCardTree, { rotate: [-20, 0], opacity: [0, 1], y: [100, 0], x: [-30, 0] }, { at: 1.5, duration: 2, easing: spring({ damping: 100 }) }],

		[titleCard, { x: [200, 0] }, { at: 3, duration: 1, easing: spring({ damping: 12 }) }],

		[experiencesList, { opacity: [0, 1], x: [200, 0] }, { at: 3.05, duration: 1, easing: spring(), delay: stagger(0.1) }]
	], {
		delay: 0.5
	});
});
</script>

<style>
.titleCardLines {
	padding: 4x 1x;
	flex-grow: 1;
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.titleCardLine {
	width: 2px;
	height: 100%;
	background-color: hsl(245deg 12% 45%);
}
.titleCardLineLeft {
	transform-origin: top;
}
.titleCardLineRight {
	transform-origin: bottom;
}

.tree {
	position: absolute;
	width: 15x;
}
</style>
