---
import SceneLayout from '#layouts/SceneLayout.astro';
import Card, { CardNS } from '#components/Card.astro';
import Illustration from '#components/Illustration.astro';
import MouseScroll from '#components/MouseScroll.astro';
import PresentationalLine, { PresentationalLineNS } from '#components/PresentationalLine.astro';
---

<SceneLayout
	title="Introduction"
	class:list={['/op:0']}
	content-class="/h:full"
	data-name="introScene"
>
	<div class="/flex:row/y:end /pos:relative /gap:4">
		<div class="/flex:column/x:end /gap:2">
			<PresentationalLine
				direction={PresentationalLineNS.Direction.H}
				class:list={['/w:5']}
				data-name="presentationalLine"
			/>
			<Card
				punch={[CardNS.PunchPosition.Y, CardNS.PunchSize.LG]}
				roundness={CardNS.Roundness.MD}
				spacing={CardNS.Spacing.LG}
				class="/w:67"
				data-name="nameCard"
			>
				<h1 class="/flex:column/x:center /gap:2">
					<span sr-only>
					Mona Safavi's Portfolio
					</span>
					<span
						class="/type:mono-title-xlarge /type:lowercase"
						data-name="nameLabel"
						aria-hidden
					/>
					<span
						class="/type:sans-title-ultrathin /type:uppercase /color:aqua-dark"
						data-name="portfolioLabel"
						aria-hidden
					>
					Portfolio
					</span>
				</h1>
			</Card>
		</div>

		<Card
			spacing={CardNS.Spacing.NONE}
			roundness={CardNS.Roundness.XXXL}
			data-name="avatarCard"
			class:list={[
				'/flex:column/y:end',
				'/h:40',
				'/w:25'
			]}
			content-class="/gap:2 /px:2 /w:full"
		>
			<span
				class="/type:mono-title-large"
				data-name="avatarLabel"
				aria-hidden
			/>
			<Illustration name="mona" class="/w:full /h:25"/>
		</Card>
	</div>

	<MouseScroll class="mouseScroll" data-name="scrollIndicator" />
</SceneLayout>

<script>
import Typewriter from 'typewriter-effect/dist/core';
import { timeline, scroll, animate, spring } from 'motion';


const scene = '[data-name=introScene]';
const nameCard = `${scene} [data-name=nameCard]`;
const portfolioLabel = `${scene} [data-name=portfolioLabel]`;
const avatarCard = `${scene} [data-name=avatarCard]`;
const scrollIndicator = `${scene} [data-name=scrollIndicator]`;
const presentationalLine = `${scene} [data-name=presentationalLine]`;
const introTimeline = timeline([
	[scene, { opacity: [0, 1] }, { at: 0, duration: 0.1 }],

	[nameCard, { opacity: [0, 1] }, { duration: 1 }],
	[nameCard, { scale: [0.9, 1] }, { duration: 1, at: 0 }],
	[nameCard, { rotate: [-45, 0] }, { duration: 1, at: 0 }],
	[nameCard, { y: [-150, 0] }, { duration: 1, at: 0 }],
	[nameCard, { x: [150, 0] }, { duration: 0, at: 3.5 }],

	[portfolioLabel, { opacity: [0, 1] }, { duration: 1, at: 3, easing: 'ease-out' }],

	[presentationalLine, { transformOrigin: ['right', 'right'] }, { at: 2.5 }],
	[presentationalLine, { opacity: [0, 1] }, { duration: 1, at: 2.5 }],
	[presentationalLine, { scaleX: [0, 5] }, { duration: 1, at: 2.5 }],
	[presentationalLine, { x: [150, 0] }, { duration: 0, at: 3.5 }],
	[presentationalLine, { scaleX: [5, 1] }, { duration: 1, at: 3.5 }],

	[avatarCard, { opacity: [0, 1] }, { duration: 1, at: 3.5 }],
	[avatarCard, { scale: [0.9, 1] }, { duration: 1, at: 3.5 }],
	[avatarCard, { rotate: [45, 0] }, { duration: 1, at: 3.5 }],
	[avatarCard, { y: [150, 0] }, { duration: 1, at: 3.5 }],
	[avatarCard, { x: [150, 0] }, { duration: 0, at: 3.5 }],

	[scrollIndicator, { opacity: [0, 1] }, { duration: 1, at: 4.5 }]
], {
	defaultOptions: {
		easing: spring({
			velocity: 10,
			stiffness: 100
		}),
		delay: 1
	}
});

introTimeline.finished.then(() => {
	scroll(
		animate(scrollIndicator, { opacity: 0 }),
		{
			offset: ['start 80px', 'start -200px'],
			axis: 'y'
		}
	);
});

new Typewriter('[data-name=nameLabel]', {
	loop: false,
	delay: 75,
	cursor: ''
})
	.pauseFor(2200)
	.typeString('Mona')
	.pauseFor(500)
	.typeString(' Safavi')
	.start();

new Typewriter('[data-name=avatarLabel]', {
	loop: false,
	delay: 75,
	cursor: ''
})
	.pauseFor(6000)
	.typeString('Hi')
	.pauseFor(700)
	.typeString('.')
	.pauseFor(200)
	.typeString('.')
	.pauseFor(200)
	.typeString('.')
	.start();
</script>

<style>
.mouseScroll {
	position: absolute;
	bottom: 10x;
	opacity: 0;
}
</style>
