---
import type { HTMLAttributes } from 'astro/types';
import { Picture } from '@astrojs/image/components';
import Card, { CardNS } from '#components/Card.astro';


export interface Props extends HTMLAttributes<'div'> {
  logo: string;
  name: string;
  number: string;
  description: string;
  audience: string;
  type: string;
}

const { logo, name, number, description, audience, type } = Astro.props;
---

<article
	class:list={['/flex:column/x:start', '/gap:4', '/w:100']}
>
	<Card
		roundness={CardNS.Roundness.LG}
		spacing={CardNS.Spacing.LG}
		data-name="logoCard"
	>
		<Picture
			src={logo}
			alt={`${name}'s logo`}
			widths={[200, 400, 800]}
			sizes="(min-device-pixel-ratio: 1) 200px, (min-device-pixel-ratio: 2) 400px, (min-device-pixel-ratio: 3) 800px"
			class:list={['/w:25']}
		/>
	</Card>
	<div class:list={['/flex:row', '/w:full']}>
		<Card
			roundness={CardNS.Roundness.LG}
			spacing={CardNS.Spacing.LG}
			data-name="logoCard"
			class:list={['/w:full']}
			content-class:list={['/flex:column/x:start', '/gap:2', '/w:full']}
		>
			<div class:list={['/flex:row/x:between', '/gap:4', '/w:full']}>
				<h3 class:list={['/type:mono-title-large', '/color:aqua-dark', '/grow:1']}>
					{ name }
				</h3>
				<span class:list={['/type:mono-title-large']}>
					#{ number }
				</span>
			</div>
			<p class:list={['/type:sans-subheader-light']}>
				{ description }
			</p>
			<div class="divider first" />
			<p class:list={['/type:sans-body-light']}>
				Target audience: { audience }
			</p>
		</Card>
		<div class="divider second" />
		<Card
			roundness={CardNS.Roundness.LG}
			spacing={CardNS.Spacing.LG}
		>
			<p class:list={['projectType', '/type:sans-subheader-light']}>
				{ type }
			</p>
		</Card>
	</div>
</article>

<style>
.divider {
	margin: 1.5x 0 0.5x 0;
	&.first {
		border-bottom: 0.5x dotted var(--aqua-dark);
		height: 0.5x;
		width: 100%;
	}
	&.second {
		border-bottom: 0.5x dotted var(--aqua-bright);
		width: 0.5x;
		height: 100%;
	}
}

.projectType {
	writing-mode: vertical-rl;
	text-orientation: mixed;
}
</style>
